.navbar {
    display: flex;
    width: 468px !important;
    height: 100%;
}

.navbar .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    flex-direction: column;
    width: 96px;
    height: 800px;
    border-right: 2px solid #E0E3E3;
}

.navbar .list li {
    cursor: pointer;
}

.list_footer {
    height: 200px;
}

.nav {
    width: 372px;
    border: 2px solid #E0E3E3;
}

.nav .nav_head {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #E0E3E3;
}

.nav .nav_body {
    padding: 15px;
    overflow: auto;
    height: 100vh;
}

.nav_body::-webkit-scrollbar {
    width: 20px;
}


/* @media screen and (max-width:400px) {
    .navbar {
        display: block;
    }

    .list,
    .list_head,
    .list_footer {
        display: flex;
    }

    .list {
        height: 65px !important;
    }


} */